[{elvis,
  [{config,
    [#{dirs => ["src"],
       filter => "*.erl",
       ruleset => erl_files},
     #{dirs => ["."],
       filter => "rebar.config",
       ruleset => rebar_config,
       rules => [{elvis_project, no_branch_deps, disable}]},
     #{dirs => ["."],
       filter => "elvis.config",
       ruleset => elvis_config}]}]}].
