{minimum_otp_vsn, "27"}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_missing_spec
]}.

{deps, [
    {arizona, {git, "https://github.com/arizona-framework/arizona", {branch, "main"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [arizona_example]}
]}.

{dialyzer, [
    {plt_apps, all_deps},
    {warnings, [
        unknown
    ]},
    incremental
]}.

{xref_checks, [
    exports_not_used
]}.

{alias, [
    {ci, [
        hank,
        lint,
        {do, "default as test xref"},
        {do, "default as test dialyzer"},
        eunit,
        ct
    ]}
]}.

{project_plugins,
 [{erlfmt, "1.3.0"},
  {rebar3_lint, "3.2.5"},
  {rebar3_hank, "1.4.0"}]}.

{erlfmt, [
    write,
    {files, [
        "elvis.config",
        "rebar.config",
        "src/*.app.src",
        "src/**/*.erl"
    ]}
]}.
