{minimum_otp_vsn, "27"}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_missing_spec
]}.

{deps, [
    {arizona, {git, "https://github.com/arizona-framework/arizona", {branch, "main"}}},
    {recon, "2.5.6"},
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_support"}}
]}.

{dialyzer, [
    {plt_apps, all_deps},
    {warnings, [
        unknown,
        unmatched_returns
    ]},
    incremental
]}.

{alias, [
    {ci, [
        {fmt, "--check"},
        lint,
        hank,
        xref,
        {do, "default as test dialyzer"},
        eunit,
        % Remove options when cover_compiled bug fixed.
        {ct, "--cover"},
        cover
    ]}
]}.

{profiles, [
    {default, [
        {xref_checks, [
            exports_not_used
        ]}
    ]}
]}.

{project_plugins, [
    {erlfmt, "1.7.0"},
    {rebar3_lint, "4.1.1"},
    {rebar3_hank, "1.4.1"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [arizona_example]},
    {env, [{arizona_reloader_enabled, true}]}
]}.

{erlfmt, [
    write,
    {files, [
        "elvis.config",
        "rebar.config",
        "config/*.config",
        "src/*.app.src",
        "src/**/*.erl",
        "test/**/*.erl"
    ]}
]}.

{relx, [
    {release, {arizona_example, semver}, [arizona_example]},
    {dev_mode, true},
    {extended_start_script, true},
    {include_erts, false}
]}.
