[
    {arizona, [
        {server, #{
            enabled => true,
            transport_opts => [{port, 8080}],
            routes => [
                % Static assets
                {asset, ~"/favicon.ico", {priv_file, arizona_example, ~"static/favicon.ico"}},
                {asset, ~"/robots.txt", {priv_file, arizona_example, ~"static/robots.txt"}},
                {asset, ~"/assets/example", {priv_dir, arizona_example, ~"static/assets"}},
                {asset, ~"/assets", {priv_dir, arizona, ~"static/assets"}},
                % View routes
                {view, ~"/", arizona_example_view, undefined},
                % WebSocket endpoint
                {websocket, ~"/live"}
            ]
        }},
        {reloader, #{
            enabled => false,
            rules => [
                #{
                    handler => arizona_example_erl_reloader,
                    watcher => #{
                        directories => ["src"],
                        patterns => [".*\\.erl$"]
                    }
                },
                #{
                    handler => arizona_example_assets_reloader,
                    watcher => #{
                        directories => ["priv/static/assets"],
                        patterns => [".*\\.js$"]
                    }
                }
            ]
        }}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                filter_default => log,
                filters => [
                    {sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}},
                    {progress, {fun logger_filters:domain/2, {stop, equal, [progress]}}}
                ]
            }}
        ]}
    ]}
].
