[
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                filter_default => log,
                filters => [
                    {sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}},
                    {progress, {fun logger_filters:domain/2, {stop, equal, [progress]}}}
                ]
            }}
        ]}
    ]}
].
