[
    {arizona, [
        {endpoint, #{
            routes => [
                % Static
                {"/favicon.ico", cowboy_static, {priv_file, arizona_example, "static/favicon.ico"}},
                {"/robots.txt", cowboy_static, {priv_file, arizona_example, "static/robots.txt"}},
                {"/assets/[...]", cowboy_static, {priv_dir, arizona_example, "static/assets"}},
                % Views
                {"/", arizona_view_handler,
                    {arizona_example_view_counter, #{title => ~"Arizona Example", id => ~"app"}, #{
                        layout => arizona_example_layout
                    }}}
            ]
        }}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                filter_default => log,
                filters => [
                    {sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}},
                    {progress, {fun logger_filters:domain/2, {stop, equal, [progress]}}}
                ]
            }}
        ]}
    ]}
].
